## DATA 601 Project-1 (Spring 2022)
### Deadline: March 31, 11:59 pm
Please download these the csv files <br>
File-1: Maryland Statewide Vehicle Crashes:  <br>
https://opendata.maryland.gov/Public-Safety/Maryland-Statewide-Vehicle-Crashes/65du-s3qu

File-2: Person Details:  <br>
https://opendata.maryland.gov/Public-Safety/Maryland-Statewide-Vehicle-Crashes-Person-Details-/py4c-dicf

File-3: Vehicle Details:  <br>
https://opendata.maryland.gov/Public-Safety/Maryland-Statewide-Vehicle-Crashes-Vehicle-Details/mhft-5t5y

<br>

We will only use "Accident Year = 2020" data. So, please remove all the unncessary rows. Names these files as "crashes.csv", "persons.csv", and "vehicles.csv", respetively. I will test your notebook with the files I created, so if you have a different naming, your code won't work.

In [3]:
#creating data frames
import pandas as pd
import csv
import numpy as np
# first csv file
df = pd.read_csv('D:\c drive\Desktop\pandas\data_601_project_1\Maryland_Statewide_Vehicle_Crashes.csv')
df = df.drop(df.index[df['YEAR'] != 2020])
#print(df)
df.to_csv('crashes.csv' , index=False)
crashes = pd.read_csv('crashes.csv')
print(crashes.head())

C:\Users\shashi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (34,46) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

   YEAR QUARTER LIGHT_DESC  LIGHT_CODE     COUNTY_DESC  COUNTY_NO  MUNI_DESC  \
0  2020      Q2   Daylight        1.00       Baltimore        3.0        NaN
1  2020      Q2        NaN        6.02  Baltimore City       24.0        NaN
2  2020      Q2   Daylight        1.00      Montgomery       15.0        NaN
3  2020      Q2   Daylight        1.00           Cecil        7.0        NaN
4  2020      Q2   Daylight        1.00    Anne Arundel        2.0        NaN

   MUNI_CODE     JUNCTION_DESC  JUNCTION_CODE  ... FEET_MILES_FLAG_DESC  \
0        NaN               NaN            NaN  ...                  NaN
1        NaN  Non Intersection            1.0  ...                Miles
2        NaN               NaN            NaN  ...                  NaN
3        NaN               NaN            NaN  ...                  NaN
4        NaN               NaN            NaN  ...                  NaN

   FEET_MILES_FLAG DISTANCE_DIR_FLAG  REFERENCE_NO REFERENCE_TYPE_CODE  \
0              NaN               NaN           NaN                 NaN
1                M                 N           NaN                 NaN
2              NaN               NaN           NaN                 NaN
3              NaN               NaN           NaN                 NaN
4              NaN               NaN           NaN                 NaN

   REFERENCE_SUFFIX REFERENCE_ROAD_NAME   LATITUDE  LONGITUDE  \
0               NaN                 NaN  39.277263 -76.503693
1               NaN           NORTH AVE  39.311025 -76.616429
2               NaN                 NaN  39.140680 -77.193413
3               NaN                 NaN  39.611028 -75.951314
4               NaN                 NaN  39.095746 -76.694121

                                   LOCATION
0           POINT (-76.5036932 39.27726285)
1  POINT (-76.616429453205 39.311024794431)
2  POINT (-77.193412729561 39.140680249069)
3        POINT (-75.951314 39.611027833333)
4      POINT (-76.694121483333 39.09574595)

[5 rows x 56 columns]

In [4]:
# second csv file
df1 = pd.read_csv('D:\c drive\Desktop\pandas\data_601_project_1\Maryland_Statewide_Vehicle_Crashes_-_Person_Details__Anonymized_.csv')
df1 = df1.drop(df1.index[df1['YEAR'] != 2020])
#print(df1.head())
df1.to_csv('persons.csv', index=False)
persons = pd.read_csv('persons.csv')
print(persons.head())

C:\Users\shashi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (37) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

  SEX_DESC SEX_CODE     CONDITION_DESC  CONDITION_CODE  \
0   Female        F  Apparently Normal             1.0
1      NaN      NaN            Unknown            99.0
2     Male        M  Apparently Normal             1.0
3     Male        M  Apparently Normal             1.0
4   Female        F                NaN             NaN

                   INJ_SEVER_DESC  INJ_SEVER_CODE     REPORT_NO  \
0  Possible Incapacitating Injury               3    DA32230016
1                       No Injury               1    DA40360040
2                       No Injury               1  MDTA1655001L
3                       No Injury               1    CB60350070
4                       No Injury               1   MSP71270044

  OCC_SEAT_POS_DESC  OCC_SEAT_POS_CODE PED_VISIBLE_DESC  ...  \
0               NaN                NaN              NaN  ...
1               NaN                NaN              NaN  ...
2               NaN                NaN              NaN  ...
3               NaN                NaN              NaN  ...
4  Right Front Seat                3.0              NaN  ...

                              PERSON_ID LICENSE_STATE_CODE  CLASS  \
0  27cbd0fc-4de1-4170-a6e8-c3e138eae596                 DC    NaN
1  0b91bf27-a20e-4c80-a338-59d819154a01                NaN    NaN
2  bd514f76-96cc-4b8f-a205-44214083c928                 MD      C
3  d35b0763-b618-4542-90ac-fe45a6cc1ff5                 MD      C
4  757b9d8a-94bb-49d7-beb3-1512ece1d504                NaN    NaN

  CDL_FLAG_DESC  CDL_FLAG                            VEHICLE_ID  \
0         False     False  f9da5041-07ea-4ca2-be6d-0c85166cbcf6
1         False     False  c146a0e1-8ae8-430d-a033-2f8d2bcba0fa
2         False     False  207beb3d-7d19-49db-93e2-4c320b21dbb3
3         False     False  c08cef49-9ffd-49bb-ac04-685ab36aae55
4           NaN       NaN  13039ab3-fd82-4c8a-abc9-9182bc9dd5db

  EMS_UNIT_LABEL  AIRBAG_DEPLOYED  YEAR Quarter
0              A              4.0  2020      Q1
1            NaN              0.0  2020      Q1
2            NaN              1.0  2020      Q1
3            NaN              0.0  2020      Q1
4            NaN              1.0  2020      Q1

[5 rows x 48 columns]

In [5]:
# third csv file
df2 = pd.read_csv('D:\c drive\Desktop\pandas\data_601_project_1\Maryland_Statewide_Vehicle_Crashes_-_Vehicle_Details.csv')
df2 = df2.drop(df2.index[df2['YEAR'] != 2020])
#print(df2.head())
df2.to_csv('vehicles.csv' , index = False)
vehicles = pd.read_csv('vehicles.csv')
print(vehicles.head())

  HARM_EVENT_DESC  HARM_EVENT_CODE CONTI_DIRECTION_DESC CONTI_DIRECTION_CODE  \
0   Other Vehicle              1.0                North                    N
1   Other Vehicle              1.0                North                    N
2   Other Vehicle              1.0                South                    S
3    Fixed Object              9.0              Unknown                    U
4   Other Vehicle              1.0                 East                    E

   DAMAGE_DESC  DAMAGE_CODE            MOVEMENT_DESC  MOVEMENT_CODE  \
0      Unknown           99                  Unknown           99.0
1  Superficial            2    Moving Constant Speed            1.0
2   Functional            3  Stopped in Traffic Lane            6.0
3      Unknown           99           Not Applicable            0.0
4    Disabling            4      Slowing or Stopping            3.0

              VIN_NO     REPORT_NO  ... TOWED_VEHICLE_CONFIG_DESC  \
0                NaN    AE5057004X  ...                   Unknown
1  NMTKHMBX0JR025092   MSP7221001P  ...            Not Applicable
2  2GNAXPEX5K6103012    DA37010040  ...            Not Applicable
3                NaN  MDTA1791002C  ...            Not Applicable
4  5FNRL18672B048550    AE456100BL  ...            Not Applicable

   TOWED_VEHICLE_CONFIG_CODE  AREA_DAMAGED_CODE_IMP1 AREA_DAMAGED_CODE1  \
0                         99                    11.0               10.0
1                          0                    12.0                6.0
2                          0                     6.0                6.0
3                          0                    99.0               99.0
4                          0                     6.0                6.0

  AREA_DAMAGED_CODE2 AREA_DAMAGED_CODE3 AREA_DAMAGED_CODE_MAIN_DESC  \
0               11.0               12.0              Eleven o'clock
1               12.0                NaN              Twelve o'clock
2                NaN                NaN                 Six o'clock
3                NaN                NaN                     Unknown
4               12.0                NaN                 Six o'clock

  AREA_DAMAGED_CODE_MAIN  YEAR Quarter
0                   11.0  2020      Q2
1                   12.0  2020      Q2
2                    6.0  2020      Q2
3                   99.0  2020      Q2
4                    6.0  2020      Q2

[5 rows x 49 columns]

### Q1
From these three csv files, create a single dataframe which will include following columns only <br>
- from the "crashes.csv", accident data (acc_dat), accident time (acc_time), weather description (weather_desc),report no, county (county_desc), latittude, and longitude
- from the "persons.csv", gender, data of birth, and state code
- from the "vehicles.csv", vehicle year, vehicle make, speed limit
<br>

Save your dataframe as a new csv file called "md_crash_2020.csv".

Note: All these csv files have the 'REPORT_NO' column. You need to use that column to combine these datasets.

In [6]:
df_new = pd.merge(crashes[['ACC_DATE','ACC_TIME','WEATHER_DESC','REPORT_NO','COUNTY_DESC','LATITUDE','LONGITUDE']],persons[['SEX_DESC','REPORT_NO','DATE_OF_BIRTH','LICENSE_STATE_CODE']],on ='REPORT_NO', how= 'left')
#print(df_new)
df_new1 = pd.merge(df_new,vehicles[['VEH_YEAR','VEH_MAKE','SPEED_LIMIT','REPORT_NO']],on ='REPORT_NO', how= 'left')
print(df_new1)
df_new1.to_csv("md_crash_2020.csv",index='FALSE')

        ACC_DATE  ACC_TIME    WEATHER_DESC   REPORT_NO     COUNTY_DESC  \
0       20200618  15:15:00  Not Applicable  AE58770052       Baltimore
1       20200618  15:15:00  Not Applicable  AE58770052       Baltimore
2       20200430  06:39:00             NaN  ADJ984001J  Baltimore City
3       20200430  06:39:00             NaN  ADJ984001J  Baltimore City
4       20200430  06:39:00             NaN  ADJ984001J  Baltimore City
...          ...       ...             ...         ...             ...
412479  20201013  13:00:00             NaN  DD5634003D      Montgomery
412480  20201013  13:00:00             NaN  DD5634003D      Montgomery
412481  20201013  13:00:00             NaN  DD5634003D      Montgomery
412482  20201008  19:22:00             NaN  AE5005007P       Baltimore
412483  20201008  19:22:00             NaN  AE5005007P       Baltimore

         LATITUDE  LONGITUDE SEX_DESC  DATE_OF_BIRTH LICENSE_STATE_CODE  \
0       39.277263 -76.503693      NaN            NaN                NaN
1       39.277263 -76.503693      NaN            NaN                NaN
2       39.311025 -76.616429     Male     19750621.0                 MD
3       39.311025 -76.616429     Male     19750621.0                 MD
4       39.311025 -76.616429     Male     19750621.0                 MD
...           ...        ...      ...            ...                ...
412479  39.075324 -77.137168     Male     19761004.0                NaN
412480  39.075324 -77.137168     Male     19590827.0                 MD
412481  39.075324 -77.137168     Male     19590827.0                 MD
412482  39.481875 -76.669389      NaN            NaN                NaN
412483  39.481875 -76.669389     Male     19770112.0                NaN

        VEH_YEAR VEH_MAKE  SPEED_LIMIT
0         2019.0      TOY          5.0
1            NaN  UNKNOWN          5.0
2         2005.0  HYUNDAI         45.0
3         2014.0     SUBA         30.0
4         2015.0     VOLK         30.0
...          ...      ...          ...
412479    2016.0     PIRC          0.0
412480    2020.0    LEXUS          0.0
412481    2016.0     PIRC          0.0
412482       NaN  UNKNOWN         25.0
412483       NaN  UNKNOWN         25.0

[412484 rows x 13 columns]

In [7]:
md_crash = pd.read_csv('D:\c drive\Desktop\pandas\data_601_project_1\md_crash_2020.csv')
md_crash

,Unnamed: 0,ACC_DATE,ACC_TIME,WEATHER_DESC,REPORT_NO,COUNTY_DESC,LATITUDE,LONGITUDE,SEX_DESC,DATE_OF_BIRTH,LICENSE_STATE_CODE,VEH_YEAR,VEH_MAKE,SPEED_LIMIT
0,0,20200618,15:15:00,Not Applicable,AE58770052,Baltimore,39.277263,-76.503693,NaN,NaN,NaN,2019.0,TOY,5.0
1,1,20200618,15:15:00,Not Applicable,AE58770052,Baltimore,39.277263,-76.503693,NaN,NaN,NaN,NaN,UNKNOWN,5.0
2,2,20200430,06:39:00,NaN,ADJ984001J,Baltimore City,39.311025,-76.616429,Male,19750621.0,MD,2005.0,HYUNDAI,45.0
3,3,20200430,06:39:00,NaN,ADJ984001J,Baltimore City,39.311025,-76.616429,Male,19750621.0,MD,2014.0,SUBA,30.0
4,4,20200430,06:39:00,NaN,ADJ984001J,Baltimore City,39.311025,-76.616429,Male,19750621.0,MD,2015.0,VOLK,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412479,412479,20201013,13:00:00,NaN,DD5634003D,Montgomery,39.075324,-77.137168,Male,19761004.0,NaN,2016.0,PIRC,0.0
412480,412480,20201013,13:00:00,NaN,DD5634003D,Montgomery,39.075324,-77.137168,Male,19590827.0,MD,2020.0,LEXUS,0.0
412481,412481,20201013,13:00:00,NaN,DD5634003D,Montgomery,39.075324,-77.137168,Male,19590827.0,MD,2016.0,PIRC,0.0
412482,412482,20201008,19:22:00,NaN,AE5005007P,Baltimore,39.481875,-76.669389,NaN,NaN,NaN,NaN,UNKNOWN,25.0
412483,412483,20201008,19:22:00,NaN,AE5005007P,Baltimore,39.481875,-76.669389,Male,19770112.0,NaN,NaN,UNKNOWN,25.0

### Q2
a. For each county, determine the average age of the drivers who were involved in these accidents  <br>
b. Then list the sorted averages (from youngest to oldest) <br>

In [8]:
temp_df = md_crash.copy()
temp_df = temp_df[temp_df['DATE_OF_BIRTH'].notna()]
print(temp_df)

        Unnamed: 0  ACC_DATE  ACC_TIME WEATHER_DESC   REPORT_NO  \
2                2  20200430  06:39:00          NaN  ADJ984001J
3                3  20200430  06:39:00          NaN  ADJ984001J
4                4  20200430  06:39:00          NaN  ADJ984001J
5                5  20200430  06:39:00          NaN  ADJ984001J
10              10  20200430  06:39:00          NaN  ADJ984001J
...            ...       ...       ...          ...         ...
412478      412478  20201013  13:00:00          NaN  DD5634003D
412479      412479  20201013  13:00:00          NaN  DD5634003D
412480      412480  20201013  13:00:00          NaN  DD5634003D
412481      412481  20201013  13:00:00          NaN  DD5634003D
412483      412483  20201008  19:22:00          NaN  AE5005007P

           COUNTY_DESC   LATITUDE  LONGITUDE SEX_DESC  DATE_OF_BIRTH  \
2       Baltimore City  39.311025 -76.616429     Male     19750621.0
3       Baltimore City  39.311025 -76.616429     Male     19750621.0
4       Baltimore City  39.311025 -76.616429     Male     19750621.0
5       Baltimore City  39.311025 -76.616429     Male     19750621.0
10      Baltimore City  39.311025 -76.616429     Male     19670216.0
...                ...        ...        ...      ...            ...
412478      Montgomery  39.075324 -77.137168     Male     19761004.0
412479      Montgomery  39.075324 -77.137168     Male     19761004.0
412480      Montgomery  39.075324 -77.137168     Male     19590827.0
412481      Montgomery  39.075324 -77.137168     Male     19590827.0
412483       Baltimore  39.481875 -76.669389     Male     19770112.0

       LICENSE_STATE_CODE  VEH_YEAR VEH_MAKE  SPEED_LIMIT
2                      MD    2005.0  HYUNDAI         45.0
3                      MD    2014.0     SUBA         30.0
4                      MD    2015.0     VOLK         30.0
5                      MD       0.0      BUS          0.0
10                     MD    2005.0  HYUNDAI         45.0
...                   ...       ...      ...          ...
412478                NaN    2020.0    LEXUS          0.0
412479                NaN    2016.0     PIRC          0.0
412480                 MD    2020.0    LEXUS          0.0
412481                 MD    2016.0     PIRC          0.0
412483                NaN       NaN  UNKNOWN         25.0

[374352 rows x 14 columns]

In [9]:
from datetime import datetime, date
temp_df['DATE_TIME'] = temp_df['DATE_OF_BIRTH'].apply(lambda x : pd.to_datetime(str(x), format = '%Y%m%d'))

def age_from_birthday(born):
    today = date.today()
    return today.year - born.year - ((today.month,today.day) < (born.month,born.day))
temp_df['AGE'] = temp_df['DATE_TIME'].apply(lambda x: age_from_birthday(x))

In [10]:
grouped_data = temp_df.groupby('COUNTY_DESC').mean()[['AGE']]
grouped_data

                       AGE
COUNTY_DESC
Allegany         40.973588
Anne Arundel     39.224781
Baltimore        39.668860
Baltimore City   37.870491
Calvert          38.968279
Caroline         38.789881
Carroll          40.481729
Cecil            38.779942
Charles          37.875040
Dorchester       39.453981
Frederick        39.144387
Garrett          38.500381
Harford          39.794084
Howard           38.968013
Kent             40.543363
Montgomery       40.087884
Prince George's  38.177640
Queen Anne's     39.641689
Somerset         39.168845
St. Mary's       38.116115
Talbot           40.571812
Washington       39.083305
Wicomico         38.159116
Worcester        35.944589

In [11]:
# b. Then list the sorted averages (from youngest to oldest)
grouped_data.sort_values(['AGE'])

                       AGE
COUNTY_DESC
Worcester        35.944589
Baltimore City   37.870491
Charles          37.875040
St. Mary's       38.116115
Wicomico         38.159116
Prince George's  38.177640
Garrett          38.500381
Cecil            38.779942
Caroline         38.789881
Howard           38.968013
Calvert          38.968279
Washington       39.083305
Frederick        39.144387
Somerset         39.168845
Anne Arundel     39.224781
Dorchester       39.453981
Queen Anne's     39.641689
Baltimore        39.668860
Harford          39.794084
Montgomery       40.087884
Carroll          40.481729
Kent             40.543363
Talbot           40.571812
Allegany         40.973588

### Q3
a. Determine the total number of crashes per "vehicle make". List the sorted values (e.g. Honda, 1234)<br>
b. Determine average age of the car involved in these accidents for each "vehicle make".  <br>

In [12]:
# a. Determine the total number of crashes per "vehicle make". List the sorted values (e.g. Honda, 1234)
from collections import Counter
c = dict(Counter(md_crash['VEH_MAKE'].values))
no_of_crashes_per_vechicle_make = [(k, v )for k, v in sorted(c.items(), key=lambda item: item[1], reverse=True)]
no_of_crashes_per_vechicle_make

[('FORD', 48632),
 ('HONDA', 41358),
 ('TOYOTA', 39721),
 ('NISSAN', 28066),
 ('UNKNOWN', 18940),
 ('DODGE', 15492),
 ('CHEVY', 14858),
 ('CHEVROLET', 13924),
 ('HYUNDAI', 13912),
 ('JEEP', 11232),
 ('TOYT', 10321),
 ('CHEV', 9320),
 ('KIA', 8923),
 ('ACURA', 7544),
 ('GMC', 6640),
 ('HOND', 5975),
 ('BMW', 5845),
 ('LEXUS', 5361),
 ('NISS', 5188),
 ('MAZDA', 5169),
 ('HYUN', 4842),
 ('SUBARU', 4164),
 ('CHRYSLER', 3868),
 ('BUICK', 2737),
 ('MERCEDES', 2610),
 ('INFINITI', 2603),
 ('MERZ', 2291),
 ('AUDI', 2290),
 ('VOLKSWAGEN', 2102),
 ('VOLVO', 2096),
 ('VOLK', 1874),
 ('DODG', 1837),
 ('VOLKSWAGON', 1679),
 ('RAM', 1673),
 ('CHRY', 1621),
 ('INTERNATIONAL', 1549),
 ('FREIGHTLINER', 1546),
 ('CADILLAC', 1490),
 ('FRHT', 1437),
 ('LINCOLN', 1412),
 ('MITSUBISHI', 1405),
 ('SUBA', 1316),
 ('PONTIAC', 1273),
 ('MERCURY', 1112),
 ('ACUR', 1070),
 ('INTL', 1018),
 ('MAZD', 975),
 ('INFI', 971),
 ('SATURN', 942),
 ('CADI', 930),
 ('INFINITY', 908),
 ('MITS', 908),
 ('VW', 847),
 ('MACK', 768),
 ('LEXS', 761),
 ('VOLKS', 758),
 ('MERC', 680),
 ('SCION', 648),
 ('BUIC', 630),
 ('SUZUKI', 616),
 ('NEW FLYER', 607),
 ('NEWFLYER', 505),
 ('HYUNDIA', 493),
 ('LINC', 491),
 ('HARLEY DAVIDSON', 451),
 ('MINI', 435),
 ('PETERBILT', 432),
 ('MERCEDES BENZ', 432),
 ('ICRP', 431),
 ('TESLA', 414),
 ('IC', 412),
 ('KENWORTH', 401),
 ('VOLV', 396),
 ('LAND ROVER', 384),
 ('ISUZU', 373),
 ('TOY', 372),
 ('NISSIAN', 371),
 ('JAGUAR', 364),
 ('PONT', 354),
 ('PTRB', 349),
 ('THOMAS', 345),
 ('THOM', 343),
 ('UNK', 323),
 ('HINO', 319),
 ('MERCEDEZ', 301),
 ('YAMAHA', 293),
 ('GILL', 282),
 ('LEXU', 273),
 ('PIERCE', 263),
 ('TOYO', 262),
 ('PETERBUILT', 225),
 ('TOYTA', 224),
 ('KAWASAKI', 210),
 ('PORSCHE', 202),
 ('KW', 195),
 ('CHEVEROLET', 187),
 ('CADILAC', 183),
 ('CHEVORLET', 174),
 ('CHRYS', 165),
 ('FIAT', 165),
 ('BUS', 162),
 ('FREIGHT', 161),
 ('HARLEY', 158),
 ('HYUNDA', 157),
 ('ISU', 157),
 ('HYUND', 156),
 ('FRT', 152),
 ('BLUE', 151),
 ('LANDROVER', 148),
 ('RANGE ROVER', 146),
 ('OLDSMOBILE', 142),
 ('CHRYSTLER', 137),
 ('HYUNDI', 133),
 ('SAAB', 132),
 ('HUMMER', 131),
 ('PETE', 125),
 ('KENW', 122),
 ('GILLIG', 122),
 ('UU', 119),
 ('NFLY', 118),
 ('INFINTI', 115),
 ('STRN', 113),
 ('PIER', 107),
 ('HD', 105),
 ('NEWF', 105),
 ('LNDR', 104),
 ('HYNDAI', 103),
 ('JAGU', 99),
 ('MERCEDES-BENZ', 97),
 ('PORS', 92),
 ('GILG', 89),
 ('TBU', 88),
 ('WESTERN STAR', 88),
 ('OLDS', 86),
 ('SUB', 86),
 ('INT', 82),
 ('INFIN', 80),
 ('NWFL', 79),
 ('SUZI', 77),
 ('CRYSLER', 77),
 ('VOLKWAGEN', 75),
 ('MAZADA', 75),
 ('NISSA', 75),
 ('BLUEBIRD', 74),
 ('LEX', 71),
 ('FTL', 71),
 ('FRIEGHTLINER', 68),
 ('SUBURU', 68),
 ('GRUMMAN', 67),
 ('TOYOYA', 67),
 ('YAMA', 65),
 ('HON', 65),
 ('SATU', 61),
 ('TOYOT', 60),
 ('KAWK', 59),
 ('TOTY', 59),
 ('HUNDAI', 58),
 ('BLUB', 57),
 ('TOYTOA', 55),
 ('ELDO', 55),
 ('CHRYLSER', 55),
 ('MASERATI', 54),
 ('MINI COOPER', 53),
 ('CHEVOLET', 53),
 ('MNNI', 53),
 ('FRGHT', 52),
 ('STERLING', 52),
 ('INTE', 51),
 ('CHEVERLOT', 51),
 ('EONE', 50),
 ('XX', 50),
 ('SPARTAN', 49),
 ('GM', 49),
 ('KEN', 49),
 ('VOLKS WAGON', 48),
 ('SCIO', 48),
 ('SPAR', 47),
 ('PLYMOUTH', 47),
 ('INFINIT', 46),
 ('TOYATA', 45),
 ('VANH', 45),
 ('VOLKWAGON', 44),
 ('HINDA', 44),
 ('NOVB', 44),
 ('ELDORADO', 43),
 ('NISSSAN', 43),
 ('MITZ', 43),
 ('DODGE RAM', 43),
 ('FREI', 42),
 ('WSTR', 42),
 ('PIRC', 42),
 ('HYUANDAI', 41),
 ('HYND', 40),
 ('HODA', 40),
 ('SUBU', 40),
 ('ABB', 40),
 ('METRO', 40),
 ('HYUANDI', 39),
 ('WEST', 38),
 ('ROSE', 38),
 ('TRUCK', 37),
 ('DOGDE', 36),
 ('AUTC', 36),
 ('CEVROLET', 36),
 (nan, 35),
 ('VANHOOL', 35),
 ('HONA', 35),
 ('MAC', 35),
 ('TESL', 35),
 ('THOMPSON', 35),
 ('JOHN DEERE', 34),
 ('SMART', 34),
 ('CHYSLER', 34),
 ('ISUZ', 34),
 ('HYANDAI', 33),
 ('TOTOTA', 33),
 ('INF', 33),
 ('DOGE', 33),
 ('ALFA', 33),
 ('THOM BU', 33),
 ('INTER', 32),
 ('SEAG', 32),
 ('HYUDAI', 32),
 ('USPS', 32),
 ('IZUZU', 32),
 ('FREIGHLINER', 32),
 ('NABI', 32),
 ('KENWOOD', 31),
 ('LEXIS', 31),
 ('AUTO', 30),
 ('CHEVERLET', 30),
 ('INFINITE', 30),
 ('HYN', 30),
 ('NISAN', 30),
 ('THMS', 30),
 ('MITSU', 29),
 ('MAZ', 29),
 ('TOYTOTA', 29),
 ('MIT', 29),
 ('DUCATI', 29),
 ('NEWFLY', 29),
 ('FREIGHT LINER', 29),
 ('CHEVROELT', 29),
 ('NEW', 28),
 ('POLARIS', 28),
 ('SEAGRAVE', 28),
 ('ACCURA', 27),
 ('HUYNDAI', 27),
 ('CHEVROLETE', 27),
 ('CEHVY', 27),
 ('TSMR', 27),
 ('LINCON', 27),
 ('GENERAL MOTORS', 27),
 ('NOVA', 26),
 ('CHEVEY', 25),
 ('TRANSIT', 25),
 ('KENILWORTH', 25),
 ('HUYN', 25),
 ('HYU', 25),
 ('IHC', 25),
 ('INTERNATIIONAL', 25),
 ('KTM', 24),
 ('FRTL', 24),
 ('HUMM', 24),
 ('PREVOST', 24),
 ('HYUNDAY', 23),
 ('STER', 23),
 ('MER', 23),
 ('POSTAL', 23),
 ('VOLKS WAGEN', 23),
 ('TOYOA', 22),
 ('CHEVROLEY', 22),
 ('CHRSYLER', 22),
 ('WESTERN', 22),
 ('FRE', 22),
 ('CHEVRLET', 22),
 ('INFINTY', 22),
 ('MITSUBSHI', 22),
 ('BKUE BU', 22),
 ('BMX', 22),
 ('SUZU', 21),
 ('SUBURA', 21),
 ('NEW HOLLAND', 21),
 ('GEO', 21),
 ('INIFINITI', 21),
 ('BAOD', 21),
 ('KME', 21),
 ('NSSAN', 21),
 ('CAD', 21),
 ('CAT', 21),
 ('MERCEDEZ BENZ', 21),
 ('HSB', 21),
 ('YONGFU', 20),
 ('AUTOCAR', 20),
 ('YUKON', 20),
 ('MADZA', 20),
 ('MERZ BENZ', 20),
 ('ACRUA', 20),
 ('FORK', 20),
 ('ALFA ROMEO', 20),
 ('MCI', 20),
 ('RANGE', 19),
 ('VOLSWAGON', 19),
 ('PLYM', 19),
 ('CHEY', 19),
 ('FLEET', 19),
 ('F0RD', 19),
 ('CHECY', 19),
 ('MECURY', 19),
 ('CHYRSLER', 19),
 ('SAA', 19),
 ('GENESIS', 19),
 ('ICRP BU', 19),
 ('IC   BU', 19),
 ('CRYS', 19),
 ('CAMRY', 19),
 ('AAA', 19),
 ('EPO', 18),
 ('LICOLN', 18),
 ('HYNUDAI', 18),
 ('VICTORY', 18),
 ('FRIEGHT', 18),
 ('TK', 18),
 ('BWM', 18),
 ('APOLLO', 18),
 ('HARLEY DAVISON', 18),
 ('JETTA', 18),
 ('HARLEY-DAVIDSON', 18),
 ('IC CORPORATION', 18),
 ('IC BU', 18),
 ('MERCADES', 18),
 ('MITSUBUSHI', 17),
 ('STRG', 17),
 ('INDIAN', 17),
 ('MASERATTI', 17),
 ('WORK', 17),
 ('CHEROLET', 17),
 ('MITSIBISHI', 17),
 ('LEXSUS', 17),
 ('MISSAN', 17),
 ('HYAUNDAI', 16),
 ('VOL', 16),
 ('ORD', 16),
 ('ONTR', 16),
 ('PORSHE', 16),
 ('PET', 16),
 ('GRUMAN', 15),
 ('SUZIKI', 15),
 ('CADDILAC', 15),
 ('KYMCO', 15),
 ('HYUNAI', 15),
 ('VOLKSWAGGON', 15),
 ('FHRT', 15),
 ('HONDAI', 15),
 ('MADA', 15),
 ('PORCHE', 15),
 ('ICBU', 15),
 ('BUCK', 15),
 ('AUTO CAR', 14),
 ('CEVY', 14),
 ('HARL', 14),
 ('FRG', 14),
 ('FOD', 14),
 ('JAG', 14),
 ('OTHR', 14),
 ('VOLSWAGEN', 14),
 ('99', 14),
 ('BLUE BIRD', 14),
 ('HYUNDAU', 14),
 ('BU', 14),
 ('SATN', 14),
 ('FRIGHTLINER', 14),
 ('MITSHUBISHI', 14),
 ('SUBRA', 13),
 ('HUNDAY', 13),
 ('CANA', 13),
 ('TRIUMPH', 13),
 ('MAIL', 13),
 ('E-ONE', 13),
 ('VOLSKWAGEN', 13),
 ('CADILLIAC', 13),
 ('HUYUNDAI', 13),
 ('FIRE', 13),
 ('INTERNATION', 13),
 ('SPTN', 13),
 ('TOYITA', 13),
 ('RAV', 13),
 ('MERCZ', 12),
 ('TYOTA', 12),
 ('MITSUBISI', 12),
 ('CADDILLAC', 12),
 ('US', 12),
 ('CAN-AM', 12),
 ('MURCURY', 12),
 ('CARR', 12),
 ('HUNDI', 12),
 ('NISSION', 12),
 ('T0Y0TA', 12),
 ('FREIGHTLINE', 12),
 ('SCHOOL', 12),
 ('TOYOYTA', 12),
 ('POTIAC', 12),
 ('MITUBISHI', 12),
 ('MURC', 11),
 ('UD', 11),
 ('KAWASKI', 11),
 ('YONG', 11),
 ('FOR', 11),
 ('EMON', 11),
 ('CHVEROLET', 11),
 ('UHAUL', 11),
 ('GRUMMAN ALLIED', 11),
 ('MITZUBISHI', 11),
 ('CHVROLET', 11),
 ('JEPP', 11),
 ('CANAM', 10),
 ('SENTRA', 10),
 ('BAODIAO', 10),
 ('MERCE', 10),
 ('BOBCAT', 10),
 ('GREAT DANE', 10),
 ('TAO', 10),
 ('TOTYOTA', 10),
 ('GEICO', 10),
 ('TRAILER', 10),
 ('CHEVROLT', 10),
 ('DIDGE', 10),
 ('PTB', 10),
 ('TOYOTTA', 10),
 ('ROV', 10),
 ('CHVY', 10),
 ('SUABRU', 10),
 ('0000', 10),
 ('CEHV', 10),
 ('SUBURAU', 10),
 ('FRIEGHT LINER', 10),
 ('OLDS MOBILE', 10),
 ('SUBARAU', 10),
 ('GNC', 10),
 ('TOYPTA', 10),
 ('GRHT', 10),
 ('D0DGE', 10),
 ('SUBARA', 9),
 ('PNTIAC', 9),
 ('LINCLON', 9),
 ('HODNA', 9),
 ('HYUD', 9),
 ('FREIG', 9),
 ('TRACTOR', 9),
 ('HYUNADI', 9),
 ('CHRYLER', 9),
 ('HIN', 9),
 ('ORION', 9),
 ('HYNDIA', 9),
 ('HONNDA', 9),
 ('TL', 9),
 ('CHR', 9),
 ('GRADALL', 9),
 ('NISSON', 9),
 ('COOPER', 9),
 ('E1', 9),
 ('WMATA', 9),
 ('UTILITY', 9),
 ('TOYOTA SCION', 9),
 ('BLBI', 9),
 ('SUBAR', 9),
 ('NDMC', 9),
 ('VOLTSWAGON', 9),
 ('MISTUBISHI', 9),
 ('TOYOTA2017', 9),
 ('HOONDA', 9),
 ('NEW FLYER BUS', 9),
 ('MUSTANG', 9),
 ('FOED', 9),
 ('VOVLO', 8),
 ('IZU', 8),
 ('INFINI', 8),
 ('ACCORD', 8),
 ('PETER', 8),
 ('PORSH', 8),
 ('CHE', 8),
 ('CLUB CAR', 8),
 ('HYUNIA', 8),
 ('CHRISLER', 8),
 ('BENTLEY', 8),
 ('PETER BUILT', 8),
 ('HYUI', 8),
 ('MVP', 8),
 ('FRGT', 8),
 ('MTSBSHI', 8),
 ('MERCRY', 8),
 ('NEFL', 8),
 ('CHRSY', 8),
 ('MINNI', 8),
 ('SUZ', 8),
 ('STAR', 8),
 ('ACU', 8),
 ('SABARU', 8),
 ('VOLV0', 8),
 ('PONIAC', 8),
 ('HOME', 8),
 ('CADILLACE', 8),
 ('CHV', 8),
 ('HIND', 8),
 ('00000', 8),
 ('COROLLA', 8),
 ('HYNUDI', 8),
 ('1FMCU0G66LUB44494', 8),
 ('EAGLE', 7),
 ('HHYUNDAI', 7),
 ('DODEG', 7),
 ('MERCEDEZ-BENZ', 7),
 ('SUARU', 7),
 ('E-Z GO', 7),
 ('CAN AM', 7),
 ('BOAD', 7),
 ('LAND', 7),
 ('LIN', 7),
 ('JEP', 7),
 ('TRANSIT BUS', 7),
 ('LINOLN', 7),
 ('PBT', 7),
 ('HYNU', 7),
 ('XXX', 7),
 ('NIISAN', 7),
 ('X', 7),
 ('CHEVELOT', 7),
 ('DOGGE', 7),
 ('GMK', 7),
 ('EMG', 7),
 ('MERCDES', 7),
 ('ARRO', 7),
 ('HAOND', 7),
 ('GILL BUS', 7),
 ('TOMOS', 7),
 ('INFININTI', 7),
 ('TRUM', 7),
 ('SCOOTER', 7),
 ('VOKSWAGEN', 7),
 ('MERC BENZ', 7),
 ('CHEVROLETTE', 7),
 ('XXXX', 7),
 ('MECEDES BENZ', 7),
 ('CEO', 7),
 ('TURT', 7),
 ('NISSAN`', 7),
 ('VOLKSWAGAN', 7),
 ('WESTSTAR', 7),
 ('VOLKSWAGO', 7),
 ('NISSNA', 7),
 ('NISAAN', 7),
 ('TOYOATA', 7),
 ('TPYTA', 7),
 ('BUICC', 7),
 ('RANGER ROVER', 7),
 ('IC BUS', 7),
 ('NISSEN', 7),
 ('E 1 PUMPER', 7),
 ('FORD`', 7),
 ('SUSUKI', 7),
 ('COLEMAN', 7),
 ('BMI', 7),
 ('MRBZ', 7),
 ('MD', 7),
 ('4F2YZ92Z85KM55859', 7),
 ('FERRARA', 7),
 ('UNK.', 7),
 ('HY', 7),
 ('JAGAUR', 7),
 ('LAMBORGHINI', 7),
 ('BREN', 7),
 ('MITSIBUISHI', 7),
 ('DONGE', 7),
 ('NEWFYLER', 7),
 ('DODFE', 7),
 ('19UUB1F32GA011008', 7),
 ('TSM', 7),
 ('KARA', 6),
 ('HONDA 4S', 6),
 ('ATHEY', 6),
 ('GILLIC', 6),
 ('BUCIK', 6),
 ('HORTON', 6),
 ('YAHAMA', 6),
 ('CHEVE', 6),
 ('MAIL TRUCK', 6),
 ('CATERPILLAR', 6),
 ('SUZUKY', 6),
 ('CHEV.', 6),
 ('MONACO', 6),
 ('HUDS', 6),
 ('Q5', 6),
 ('VOLS', 6),
 ('JIANGSU BAODIAO LOCO', 6),
 ('GE', 6),
 ('MECEDES', 6),
 ('WOLF', 6),
 ('XXXXX', 6),
 ('TOYOTAQ', 6),
 ('NIDDAN', 6),
 ('CADALLIC', 6),
 ('SUBARY', 6),
 ('MITTS', 6),
 ('SUTP', 6),
 ('JEEO', 6),
 ('VOLTZ', 6),
 ('WABASH', 6),
 ('UKNOWN', 6),
 ('UNKOWN', 6),
 ('MASE', 6),
 ('PENSKE', 6),
 ('INTERATIONAL', 6),
 ('MZDA', 6),
 ('FRIGHT', 6),
 ('THOMAS BUILT', 6),
 ('FALCON', 6),
 ('TAOTAO', 6),
 ('NISSN', 6),
 ('SCHOOL BUS', 6),
 ('WANC', 6),
 ('HOINDA', 6),
 ('SUV', 6),
 ('NEWFLER', 6),
 ('YELLOW', 6),
 ('VOLKSWAGGEN', 6),
 ('MITU', 6),
 ('SUBRAU', 6),
 ('CHYR', 6),
 ('HUY', 6),
 ('INIFINIT', 6),
 ('CHEVRELOT', 6),
 ('S10', 6),
 ('TOPB', 6),
 ('PER', 6),
 ('MERCEDE', 6),
 ('MAST', 6),
 ('KUBOTA', 6),
 ('LINCOL', 6),
 ('VOLVA', 6),
 ('NISSAM', 6),
 ('JN1FV7EL1LM460176', 6),
 ('CHEVR', 6),
 ('LEXES', 6),
 ('TAOT', 6),
 ('MACH', 6),
 ('CUSTOM', 6),
 ('GMS', 6),
 ('FORS', 6),
 ('MAZA', 6),
 ('5NPEC4AC2DH657355', 6),
 ('HONAA', 6),
 ('ICC', 6),
 ('MOPED', 6),
 ('PORSCH', 6),
 ('GRAY', 6),
 ('CHERKOEE', 6),
 ('HYUUNDAI', 6),
 ('CHBU', 6),
 ('MOZDA', 6),
 ('DADGE', 6),
 ('HYINDAI', 6),
 ('NIS', 6),
 ('ACADIA', 6),
 ('FORD(SILVER)', 6),
 ('1G2NW12E73C121926', 6),
 ('1GCEK19T64E330821', 6),
 ('1N4AA5AP3AC847241', 6),
 ('MERCUR', 6),
 ('PTBR', 6),
 ('HYBDAI', 6),
 ('CHSY', 6),
 ('YV4BZ982X91060431', 6),
 ('3C6UR5DL6LG238998', 6),
 ('2G1125S30F9101016', 6),
 ('JN1BV7AR4FM404486', 6),
 ('MEIDUO', 6),
 ('CHERVORLET', 6),
 ('LLV', 5),
 ('CCHEVY', 5),
 ('JAYCO', 5),
 ('WELL', 5),
 ('CHEVROLE', 5),
 ('PIERCE PUMPER', 5),
 ('FORD1', 5),
 ('MEDZ', 5),
 ('KAUFMAN', 5),
 ('MERS', 5),
 ('M BENZ', 5),
 ('MERCEDES- BENZ', 5),
 ('CHVEY', 5),
 ('BICK', 5),
 ('ROYAL ENFIELD', 5),
 ('KAWISAKI', 5),
 ('ADUI', 5),
 ('CHRYSTLR', 5),
 ('ODGE', 5),
 ('BUELL', 5),
 ('DODE', 5),
 ('PEQU', 5),
 ('VOIW', 5),
 ('GRAND', 5),
 ('LIGHT RAIL', 5),
 ('BENTLY', 5),
 ('STLG', 5),
 ('NISSAN (WHITE)', 5),
 ('BMW (DARK GRAY)', 5),
 ('IN', 5),
 ('YOYOTA', 5),
 ('LEXAS', 5),
 ('SPRINTER', 5),
 ('SSUBARU', 5),
 ('CHYLSER', 5),
 ('FRH', 5),
 ('ISZU', 5),
 ('HONDA`', 5),
 ('JOHN DEER', 5),
 ('CHRVY', 5),
 ('HORT', 5),
 ('SUBABRU', 5),
 ('DIAM', 5),
 ('FIRE TRUCK', 5),
 ('HME', 5),
 ('CEHVROLET', 5),
 ('SATERN', 5),
 ('EMERGENCY', 5),
 ('UTIL', 5),
 ('CHEBROLET', 5),
 ('TEREX', 5),
 ('BATAVUS', 5),
 ('UPS', 5),
 ('MERZ BEN', 5),
 ('TELSA', 5),
 ('TUCSON', 5),
 ('PONTAIC', 5),
 ('V50', 5),
 ('SILVER', 5),
 ('HYNDI', 5),
 ('OTHER', 5),
 ('TOYOAT', 5),
 ('PERTERBILT', 5),
 ('SATR', 5),
 ('PTR', 5),
 ('VOLVOL', 5),
 ('PROGRESSIVE', 5),
 ('1C4GP54L0Y8589627', 5),
 ('1HGCS22808A005468', 5),
 ('MIRAGE', 5),
 ('SLIN', 5),
 ('CATR', 5),
 ('WORKHORSE', 5),
 ('MITUSUBISHI', 5),
 ('LANDRVR', 5),
 ('1N4AL21E08N434635', 5),
 ('AMERICAN', 5),
 ('NDA', 5),
 ('JN8AS5MT2DW546239', 5),
 ('2HKRW2H83HH624336', 5),
 ('CHEVROLER', 5),
 ('JF1GF4858WH803417', 5),
 ('2T1CF22P6XC125425', 5),
 ('SATRN', 5),
 ('CRYSTLER', 5),
 ('TOYOTAY', 5),
 ('JIAJUE', 5),
 ('GOLF CART', 5),
 ('INFINII', 5),
 ('1GTSKVE31AZ167855', 5),
 ('HONDQA', 5),
 ('INFINATY', 5),
 ('BMW1', 5),
 ('CADILAIC', 5),
 ('TREK', 5),
 ('DOGDGE', 5),
 ('JN8AZ28R29T110041', 5),
 ('DOODGE', 5),
 ('MASER', 5),
 ('CHEVOROLET', 5),
 ('PLYMOTH', 5),
 ('SOUT', 5),
 ('WHGM', 5),
 ('JINMAR', 5),
 ('PELICAN', 5),
 ('KIAN', 5),
 ('BUIK', 5),
 ('INFNI', 5),
 ('HYUNDAL', 5),
 ('KNAFG526477117406', 5),
 ('NISSS', 5),
 ('HYUNDAO', 5),
 ('MADZ', 5),
 ('2A8HR44E99R529058', 5),
 ('ELANTRA', 5),
 ('CGEVROLET', 5),
 ('1VWBN7A31CC009351', 5),
 ('1HGCR2F87DA167257', 5),
 ('FREIGH LINER', 5),
 ('HYUADAI', 5),
 ('AMEL', 5),
 ('2GNALCEK6G6159816', 5),
 ('KM8SB12B14U580750', 5),
 ('3TYSZ5AN5LT004234', 5),
 ('3GNAXHEV1KS509729', 5),
 ('JN1DA31A33T420705', 5),
 ('WRKH', 4),
 ('MINNIE', 4),
 ('ALFA ROMERO', 4),
 ('FREIGHTLIN', 4),
 ('PONAIC', 4),
 ('HONDAS', 4),
 ('JAQUAR', 4),
 ('DOD', 4),
 ('UTI', 4),
 ('HIUNDAY', 4),
 ('JONY', 4),
 ('INTNL', 4),
 ('EZGO', 4),
 ('CADALLAC', 4),
 ('FRAIGHT', 4),
 ('GILL BU', 4),
 ('BOX TRUCK', 4),
 ('GIAN', 4),
 ('FUSO', 4),
 ('MATRIX', 4),
 ('FLINT', 4),
 ('00', 4),
 ('MERC-BENZ', 4),
 ('LANROVER', 4),
 ('WEAR', 4),
 ('PEIRCE', 4),
 ('GILLAG', 4),
 ('TAYOTA', 4),
 ('EXMARK', 4),
 ('JOHN', 4),
 ('PETTERBILT', 4),
 ('INFIITI', 4),
 ('PONTIC', 4),
 ('INTERNATIONA', 4),
 ('INTERNATIONAL TRACTO', 4),
 ('LUXUS', 4),
 ('KIA SORENTO', 4),
 ('TT', 4),
 ('JIANGSU', 4),
 ('HYUNDUI', 4),
 ('US MAIL TRUCK', 4),
 ('CHRYSTELR', 4),
 ('INTERNATIONAL TRUCK', 4),
 ('EASY GO', 4),
 ('CHREVORLET', 4),
 ('LEXUX', 4),
 ('HYUDIA', 4),
 ('FLYER', 4),
 ('AVURA', 4),
 ('FORF', 4),
 ('ROSENBAUER', 4),
 ('LEXUIS', 4),
 ('SATUR', 4),
 ('CHRYTLER', 4),
 ('CROWN', 4),
 ('INTERNATONAL', 4),
 ('US POSTAL', 4),
 ('FORD E350', 4),
 ('GRUNMAN', 4),
 ('SME', 4),
 ('MERCIDES', 4),
 ('KAWAK', 4),
 ('GILIG', 4),
 ('PHOE', 4),
 ('KENTLEWORTH', 4),
 ('FORDQ', 4),
 ('CHEROKEE', 4),
 ('COACHMAN', 4),
 ('I', 4),
 ('HIUNDAI', 4),
 ('KAUF', 4),
 ('UTL', 4),
 ('CHRYSER', 4),
 ('SUBR', 4),
 ('INTL TK', 4),
 ('WANCO', 4),
 ('NEW-FLYER', 4),
 ('HYD', 4),
 ('HYUNDAAI', 4),
 ('VOLKSAGON', 4),
 ('BENZ', 4),
 ('LINCLN', 4),
 ('BMV', 4),
 ('INTERNTL', 4),
 ('NOVAB', 4),
 ('DODGE TK', 4),
 ('BISSAN', 4),
 ('BENT', 4),
 ('FOORD', 4),
 ('USAA', 4),
 ('AMERICAN LAFRANCE', 4),
 ('2HGFA16588H521847', 4),
 ('JIA', 4),
 ('HUNDIA', 4),
 ('VENT', 4),
 ('MERCEDESBENZ', 4),
 ('MER BENX', 4),
 ('WAURD68D12A000377', 4),
 ('1FTPX14504FA08866', 4),
 ('HYUNTA', 4),
 ('VOLVE', 4),
 ('4 DOOR', 4),
 ('1GTSKVEA3AZ215001', 4),
 ('2LMDU88C27BJ18255', 4),
 ('1J4FJ78S6VL574334', 4),
 ('CHEVRLOTE', 4),
 ('NISSAN (SILVER)', 4),
 ('R&R', 4),
 ('KENTWORTH', 4),
 ('FRHT AM', 4),
 ('KAWA', 4),
 ('JT8BD69S540195196', 4),
 ('MAXDZ', 4),
 ('KMHDH4AE9DU657935', 4),
 ('VLOKSWAGON', 4),
 ('2T1BR18E6WC026556', 4),
 ('INIFINITY', 4),
 ('INTERNATINAL', 4),
 ('VENTURE', 4),
 ('PON', 4),
 ('1FMCU93148KC68149', 4),
 ('JEE[', 4),
 ('WINN', 4),
 ('4T1BG28K7WU241184', 4),
 ('HYUNDAII', 4),
 ('1GCGTDEN6L1246812', 4),
 ('1C3CDZEG5CN112235', 4),
 ('WINNEBAGO', 4),
 ('GILLY', 4),
 ('TRK', 4),
 ('LINCOLM', 4),
 ('KNMAT2MV0GP713379', 4),
 ('CHEVU', 4),
 ('1FT7W2B63LED57612', 4),
 ('1GCUYEEDXLZ252597', 4),
 ('1HGFA16566L139638', 4),
 ('CHRYSTER', 4),
 ('WOLKSWAGON', 4),
 ('H9ONDA', 4),
 ('HDY', 4),
 ('2C3CDZBT6HH606038', 4),
 ('JEEEP', 4),
 ('MITIBISHI', 4),
 ('CHEVY2', 4),
 ('LOCOMOTIVE', 4),
 ('MITSBUSHI', 4),
 ('MERCY', 4),
 ('JH4CU4F63AC002568', 4),
 ('INFINITY G', 4),
 ('ROAD RIGHT', 4),
 ('FREEDOM', 4),
 ('MASSEY', 4),
 ('1FT8W3AT7BEB71748', 4),
 ('1GNEVHKW9JJ110569', 4),
 ('1FVACWDT9EHFM2913', 4),
 ('AURA', 4),
 ('PEIRE', 4),
 ('INIFINTI', 4),
 ('HONDA OD', 4),
 ('3N1CE2CP8JL368064', 4),
 ('NABI BUS', 4),
 ('SUBN', 4),
 ('VOLLSWAGON', 4),
 ('YV1622FS3C2044232', 4),
 ('PATRIOT', 4),
 ('AMGE', 4),
 ('PLY', 4),
 ('PETERBUILD', 4),
 ('EMS', 4),
 ('DDODGE', 4),
 ('CADILIAC', 4),
 ('MCK', 4),
 ('3VW5T7BU9LM048892', 4),
 ('1D7HL42NX3S328499', 4),
 ('2016', 4),
 ('RAM WHITE POSTAL', 4),
 ('KIA - BLACK', 4),
 ('1HGCM56196A061463', 4),
 ('1D7FL16K04S505648', 4),
 ('1GNSCGEC5GR417753', 4),
 ('HYUB', 4),
 ('350', 4),
 ('OLDMOBILE', 4),
 ('TRAVEL CRUISER', 4),
 ('MIST', 4),
 ('NISSAN - BURGUNDY', 4),
 ('LEXUS - BLACK', 4),
 ('ADVA', 4),
 ('DODGE SUV', 4),
 ('FOREST RIVER', 3),
 ('FEEP', 3),
 ('SSR', 3),
 ('MITSUBISH', 3),
 ('WESTERSTAR', 3),
 ('HYNDA', 3),
 ('POMT', 3),
 ('LINC 4S', 3),
 ...]

In [13]:
# b. Determine average age of the car involved in these accidents for each "vehicle make"
def get_veh_age(year):
    return 2020-year
md_crash['VEH_AGE'] = md_crash['VEH_YEAR'].apply(get_veh_age)
md_crash.groupby('VEH_MAKE').mean()[['VEH_AGE']]

                      VEH_AGE
VEH_MAKE
00                     1520.0
000                    2020.0
0000                   1818.0
00000                  2020.0
0099                   1932.0
...                       ...
YY 150 TS                14.0
ZERO                      0.0
ZHEJIANG                  1.0
ZHEJIANG TAOTAO VEH.   2020.0
`BUIC                    19.0

[2441 rows x 1 columns]

### Q4
a. Determine all the accidents that happened in a circle centered at (39.016149, -77.117942) with a radius of 5 km. Among them,  <br>
b. Determine the number of accidents where the speed limit was above 51 miles per hour. <br>
c. Determine the number of accidents where the speed limit was below 41 miles per hour.  <br>
<br>
Hint: Please see the "P1_Helper_Distance_From_Coordinates.ipynb" that can be found at https://github.com/simsekergun/DATA601/tree/main/Project1

In [14]:
from math import radians, sin, cos, acos
md_crash1 = md_crash.copy()
slat = 39.016149
slon = -77.117942
elat = md_crash1['LATITUDE']
elon = md_crash1['LONGITUDE']
t = np.sin(slat)*np.sin(elat) + np.cos(slat)*np.cos(elat)*np.cos(slon - elon)
md_crash1['DIST_FROM_C'] = 6371.01 * np.arccos(t)
accs_within_5miles = md_crash1[md_crash1['DIST_FROM_C'] <= 5]
accs_within_5miles

,Unnamed: 0,ACC_DATE,ACC_TIME,WEATHER_DESC,REPORT_NO,COUNTY_DESC,LATITUDE,LONGITUDE,SEX_DESC,DATE_OF_BIRTH,LICENSE_STATE_CODE,VEH_YEAR,VEH_MAKE,SPEED_LIMIT,VEH_AGE,DIST_FROM_C
90924,90924,20200217,14:09:00,NaN,MSP7192000Z,Montgomery,39.015858,-77.116167,Male,19920504.0,MD,2006.0,CADILLAC,55.0,14.0,3.391236
90925,90925,20200217,14:09:00,NaN,MSP7192000Z,Montgomery,39.015858,-77.116167,Male,19920504.0,MD,2018.0,FORD,55.0,2.0,3.391236
90926,90926,20200217,14:09:00,NaN,MSP7192000Z,Montgomery,39.015858,-77.116167,Male,19700720.0,MD,2006.0,CADILLAC,55.0,14.0,3.391236
90927,90927,20200217,14:09:00,NaN,MSP7192000Z,Montgomery,39.015858,-77.116167,Male,19700720.0,MD,2018.0,FORD,55.0,2.0,3.391236
111113,111113,20200211,04:25:00,Raining,MSP694200G5,Montgomery,39.015737,-77.118117,Male,19590528.0,MD,2001.0,BMW,55.0,19.0,2.638913
161193,161193,20200327,19:20:00,NaN,MSP694200GP,Montgomery,39.015981,-77.118371,Male,19550714.0,VA,2000.0,HONDA,55.0,20.0,1.270723
161194,161194,20200327,19:20:00,NaN,MSP694200GP,Montgomery,39.015981,-77.118371,Male,19550714.0,VA,2013.0,FORD,55.0,7.0,1.270723
161195,161195,20200327,19:20:00,NaN,MSP694200GP,Montgomery,39.015981,-77.118371,Male,19951121.0,MD,2000.0,HONDA,55.0,20.0,1.270723
161196,161196,20200327,19:20:00,NaN,MSP694200GP,Montgomery,39.015981,-77.118371,Male,19951121.0,MD,2013.0,FORD,55.0,7.0,1.270723
311448,311448,20201207,13:45:00,NaN,MCP3143002B,Montgomery,39.016237,-77.119660,Male,19541123.0,VA,2008.0,FORD,45.0,12.0,2.803515
311449,311449,20201207,13:45:00,NaN,MCP3143002B,Montgomery,39.016237,-77.119660,Male,19541123.0,VA,2008.0,KIA,45.0,12.0,2.803515
311450,311450,20201207,13:45:00,NaN,MCP3143002B,Montgomery,39.016237,-77.119660,Male,19470306.0,MD,2008.0,FORD,45.0,12.0,2.803515
311451,311451,20201207,13:45:00,NaN,MCP3143002B,Montgomery,39.016237,-77.119660,Male,19470306.0,MD,2008.0,KIA,45.0,12.0,2.803515
337841,337841,20201020,15:23:00,NaN,MSP7061008L,Montgomery,39.015699,-77.118251,Male,19890521.0,MD,2016.0,HONDA,55.0,4.0,2.910236
337842,337842,20201020,15:23:00,NaN,MSP7061008L,Montgomery,39.015699,-77.118251,Male,19890521.0,MD,2015.0,HONDA,55.0,5.0,2.910236
337843,337843,20201020,15:23:00,NaN,MSP7061008L,Montgomery,39.015699,-77.118251,Male,19890521.0,MD,2019.0,VOLKSWAGEN,55.0,1.0,2.910236
337844,337844,20201020,15:23:00,NaN,MSP7061008L,Montgomery,39.015699,-77.118251,Female,19791123.0,MD,2016.0,HONDA,55.0,4.0,2.910236
337845,337845,20201020,15:23:00,NaN,MSP7061008L,Montgomery,39.015699,-77.118251,Female,19791123.0,MD,2015.0,HONDA,55.0,5.0,2.910236
337846,337846,20201020,15:23:00,NaN,MSP7061008L,Montgomery,39.015699,-77.118251,Female,19791123.0,MD,2019.0,VOLKSWAGEN,55.0,1.0,2.910236
337847,337847,20201020,15:23:00,NaN,MSP7061008L,Montgomery,39.015699,-77.118251,Male,19980203.0,VA,2016.0,HONDA,55.0,4.0,2.910236
337848,337848,20201020,15:23:00,NaN,MSP7061008L,Montgomery,39.015699,-77.118251,Male,19980203.0,VA,2015.0,HONDA,55.0,5.0,2.910236
337849,337849,20201020,15:23:00,NaN,MSP7061008L,Montgomery,39.015699,-77.118251,Male,19980203.0,VA,2019.0,VOLKSWAGEN,55.0,1.0,2.910236
348614,348614,20201026,11:24:00,NaN,MCP3045003J,Montgomery,39.016402,-77.119643,Female,19660113.0,VA,2014.0,HYUNDAI,40.0,6.0,3.160470
348615,348615,20201026,11:24:00,NaN,MCP3045003J,Montgomery,39.016402,-77.119643,Female,19660113.0,VA,2019.0,TOYOTA,40.0,1.0,3.160470
348616,348616,20201026,11:24:00,NaN,MCP3045003J,Montgomery,39.016402,-77.119643,Male,19920803.0,MD,2014.0,HYUNDAI,40.0,6.0,3.160470
348617,348617,20201026,11:24:00,NaN,MCP3045003J,Montgomery,39.016402,-77.119643,Male,19920803.0,MD,2019.0,TOYOTA,40.0,1.0,3.160470

In [15]:
# b.Determine the number of accidents where the speed limit was above 51 miles per hour
l1 = len(accs_within_5miles[accs_within_5miles.SPEED_LIMIT > 51])
print("N.o of accidents where speed limit above 51 mph:", l1)

N.o of accidents where speed limit above 51 mph: 18

In [16]:
#c. Determine the number of accidents where the speed limit was below 41 miles per hour.
l2 = len(accs_within_5miles[accs_within_5miles.SPEED_LIMIT < 41])
print("N.o of accidents where speed limit below 41 mph:", l2)

N.o of accidents where speed limit below 41 mph: 4

### Q5
Download "Licensed Drivers By Sex" data from  <br>
https://github.com/simsekergun/DATA601/tree/main/Project1

a. Determine the number of drivers, who got in a car crash, from non-DMV states as a function of gender and list them <br>
`St Male Female` <br>
`NY 1510  622` <br>
`PA 1251 1312` <br>
... <br>
Note: DMV states: DC, MD, and VA  <br>
 <br>
b. Normalize the previous list with number of male drivers and female drivers for each state. e.g. There are 1 million male drivers in NY and 2 million female drivers, then the normalized numbers should be <br>
<br>
`St    Male_Norm  Female_Norm` <br>
`NY    1.510e-3  0.311e-3` <br>

In [17]:

md_crash1 = md_crash.copy()
md_crash1 = md_crash1[md_crash1['LICENSE_STATE_CODE'] != 'DC'][md_crash1['LICENSE_STATE_CODE'] != 'MD'][md_crash1['LICENSE_STATE_CODE'] != 'VA']

C:\Users\shashi\AppData\Local\Temp/ipykernel_15128/1232344843.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  md_crash1 = md_crash1[md_crash1['LICENSE_STATE_CODE'] != 'DC'][md_crash1['LICENSE_STATE_CODE'] != 'MD'][md_crash1['LICENSE_STATE_CODE'] != 'VA']

In [18]:
#a.Determine the number of drivers, who got in a car crash, from non-DMV states as a function of gender and list them
t = pd.merge(md_crash1['LICENSE_STATE_CODE'],pd.get_dummies(md_crash1['SEX_DESC']),left_index=True, right_index=True)[['LICENSE_STATE_CODE','Female','Male']]
drivers_by_sex = t.groupby('LICENSE_STATE_CODE').count().reset_index()
drivers_by_sex

   LICENSE_STATE_CODE  Female  Male
0                  AB       2     2
1                  AK      49    49
2                  AL     108   108
3                  AR      60    60
4                  AS       2     2
..                ...     ...   ...
62                 WI      72    72
63                 WV    1588  1588
64                 WY      20    20
65                 XX    2978  2978
66                 YT       4     4

[67 rows x 3 columns]

In [19]:

#Normalize the previous list with number of male drivers and female drivers for each state. e.g. There are 1 million male drivers in NY and 2 million female drivers, then the normalized numbers should be
no_of_female_drives = sum(drivers_by_sex['Female'])
no_of_male_drives = sum(drivers_by_sex['Male'])

drivers_by_sex_normalized = drivers_by_sex.copy()
drivers_by_sex_normalized['Female'] = drivers_by_sex['Female']/no_of_female_drives
drivers_by_sex_normalized['Male'] = drivers_by_sex['Male']/no_of_female_drives
drivers_by_sex_normalized

   LICENSE_STATE_CODE    Female      Male
0                  AB  0.000076  0.000076
1                  AK  0.001865  0.001865
2                  AL  0.004110  0.004110
3                  AR  0.002283  0.002283
4                  AS  0.000076  0.000076
..                ...       ...       ...
62                 WI  0.002740  0.002740
63                 WV  0.060428  0.060428
64                 WY  0.000761  0.000761
65                 XX  0.113322  0.113322
66                 YT  0.000152  0.000152

[67 rows x 3 columns]

### Q6
a. On which day of the week (Monday through Sunday) do the most of the crashes happen? <br>
b. On which hour of the day (00 - 24) do the most of the crashes happen?  <br>

In [20]:
from datetime import datetime,date
df_temp = md_crash.copy()
def get_day(d, format):
    week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    d = datetime.strptime(d, format).date()
    return week[d.weekday()]

def day(d):
    if(pd.notnull(d)==False):
        return -1
    for fm in ["%Y%m%d", "%d-%b-%y", "%d/%m/%Y"]:
        try:
            return get_day(str(d)[:9], fm)
        except:
            continue
    return -1

df_temp['ACC_DAY'] = df_temp['ACC_DATE'].apply(day)

In [21]:
# a. On which day of the week (Monday through Sunday) do the most of the crashes happen?
# Most accidents happen on Friday.
df_temp['ACC_DAY'].value_counts()

Friday       70009
Saturday     60293
Wednesday    59979
Thursday     59860
Monday       56854
Tuesday      55919
Sunday       49570
Name: ACC_DAY, dtype: int64

In [22]:
# b. On which hour of the day (00 - 24) do the most of the crashes happen?
def hour(time):
    try:
        return int(str(time).split(':')[0])
    except:
        return -1

df_temp['ACC_HOUR'] = df_temp['ACC_TIME'].apply(hour)
df_temp['ACC_HOUR'].value_counts()

17    34885
16    33804
15    33605
18    29209
14    28683
12    25320
13    24779
19    22191
11    20365
20    18466
10    16706
21    15865
9     15452
8     15107
7     13715
22    12612
23    10849
6      9217
0      8130
1      6474
5      5173
2      5094
3      3660
4      3123
Name: ACC_HOUR, dtype: int64

In [23]:
print("a. Most accidents happen on Friday")
print("b. Most accidents occur at time 17:00")

a. Most accidents happen on Friday
b. Most accidents occur at time 17:00

### Q7
Download "Maryland Average Precipitation and Snow 2020" data from  <br>
https://github.com/simsekergun/DATA601/tree/main/Project1

You need assume that it is a rainy/snowy day if the second column is bigger than 0.05 or if the third column is bigger than 1; otherwise take that day as a non-rainy/snowy day. <br>
a. What is the ratio of the number of accidents happened in rainy/snowy days to the number of accidents happened in non-rainy/snowy days? <br>
b. What does this ratio tell us?

In [24]:
import requests
url = "https://raw.githubusercontent.com/simsekergun/DATA601/main/Project1/MD2020_Rain_Snow.csv"
r = requests.get(url, allow_redirects=True)
open('weather.csv', 'wb').write(r.content)

6840

In [25]:
df_temp = md_crash.copy()
df_temp = df_temp[df_temp['ACC_DATE'].notna()]

weather = pd.read_csv("weather.csv")
def get_weather(row):
    if(row['Precip in.'] > 0.05):
        return 'Snowy'
    if(row['Snow in.'] > 1):
        return 'Rainy'
    return 'none'

weather["WEATHER"] = "none"
weather["WEATHER"][weather['Precip in.'] > 0.05] = 'Rainy'
weather["WEATHER"][weather['Snow in.'] > 1] = 'Snowy'

def gdate(d):
    return datetime.strptime(d[:-1], "%m/%d/%Y").date().strftime("%d/%m/%Y")
weather["Date"] = weather["Date"].apply(gdate)

C:\Users\shashi\AppData\Local\Temp/ipykernel_15128/2765788280.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather["WEATHER"][weather['Precip in.'] > 0.05] = 'Rainy'
C:\Users\shashi\AppData\Local\Temp/ipykernel_15128/2765788280.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather["WEATHER"][weather['Snow in.'] > 1] = 'Snowy'

In [26]:
def get_mdate(d, format):
    return datetime.strptime(d, format).date().strftime("%d/%m/%Y")

def mdate(d):
    if(pd.notnull(d)==False):
        return -1
    for fm in ["%Y%m%d", "%d-%b-%y", "%d/%m/%Y"]:
        try:
            return get_mdate(str(d)[:9], fm)
        except:
            continue
    return -1

df_temp['Date'] = df_temp['ACC_DATE'].apply(mdate)

df_temp = pd.merge(df_temp, weather, on='Date', how='left')
print(df_temp)

        Unnamed: 0  ACC_DATE  ACC_TIME    WEATHER_DESC   REPORT_NO  \
0                0  20200618  15:15:00  Not Applicable  AE58770052
1                1  20200618  15:15:00  Not Applicable  AE58770052
2                2  20200430  06:39:00             NaN  ADJ984001J
3                3  20200430  06:39:00             NaN  ADJ984001J
4                4  20200430  06:39:00             NaN  ADJ984001J
...            ...       ...       ...             ...         ...
412479      412479  20201013  13:00:00             NaN  DD5634003D
412480      412480  20201013  13:00:00             NaN  DD5634003D
412481      412481  20201013  13:00:00             NaN  DD5634003D
412482      412482  20201008  19:22:00             NaN  AE5005007P
412483      412483  20201008  19:22:00             NaN  AE5005007P

           COUNTY_DESC   LATITUDE  LONGITUDE SEX_DESC  DATE_OF_BIRTH  \
0            Baltimore  39.277263 -76.503693      NaN            NaN
1            Baltimore  39.277263 -76.503693      NaN            NaN
2       Baltimore City  39.311025 -76.616429     Male     19750621.0
3       Baltimore City  39.311025 -76.616429     Male     19750621.0
4       Baltimore City  39.311025 -76.616429     Male     19750621.0
...                ...        ...        ...      ...            ...
412479      Montgomery  39.075324 -77.137168     Male     19761004.0
412480      Montgomery  39.075324 -77.137168     Male     19590827.0
412481      Montgomery  39.075324 -77.137168     Male     19590827.0
412482       Baltimore  39.481875 -76.669389      NaN            NaN
412483       Baltimore  39.481875 -76.669389     Male     19770112.0

       LICENSE_STATE_CODE  VEH_YEAR VEH_MAKE  SPEED_LIMIT  VEH_AGE  \
0                     NaN    2019.0      TOY          5.0      1.0
1                     NaN       NaN  UNKNOWN          5.0      NaN
2                      MD    2005.0  HYUNDAI         45.0     15.0
3                      MD    2014.0     SUBA         30.0      6.0
4                      MD    2015.0     VOLK         30.0      5.0
...                   ...       ...      ...          ...      ...
412479                NaN    2016.0     PIRC          0.0      4.0
412480                 MD    2020.0    LEXUS          0.0      0.0
412481                 MD    2016.0     PIRC          0.0      4.0
412482                NaN       NaN  UNKNOWN         25.0      NaN
412483                NaN       NaN  UNKNOWN         25.0      NaN

              Date  Precip in.  Snow in. WEATHER
0       18/06/2020        0.48         0   Rainy
1       18/06/2020        0.48         0   Rainy
2       30/04/2020        0.20         0   Rainy
3       30/04/2020        0.20         0   Rainy
4       30/04/2020        0.20         0   Rainy
...            ...         ...       ...     ...
412479  13/10/2020        0.19         0   Rainy
412480  13/10/2020        0.19         0   Rainy
412481  13/10/2020        0.19         0   Rainy
412482  08/10/2020        0.00         0    none
412483  08/10/2020        0.00         0    none

[412484 rows x 19 columns]

In [27]:
# a. What is the ratio of the number of accidents happened in rainy/snowy days to the number of accidents happened in non-rainy/snowy days?
weather_acc_data = dict(df_temp.WEATHER.value_counts())
ratio = (weather_acc_data['Snowy'] + weather_acc_data['Rainy'])/weather_acc_data['none']

print("Ratio of the n.o of accidents happened in rainy/snowy days to non-rainy/snowy days:", ratio)

Ratio of the n.o of accidents happened in rainy/snowy days to non-rainy/snowy days: 0.5960841217327374

In [28]:
#b. What does this ratio tell us?
print('This ratio tells us that accidents happens mostly in rainy/snowy days')

This ratio tells us that accidents happens mostly in rainy/snowy days

#Q8
Use matplotlib and/or seaborn and show your talent in data visualization. You are free to visualize anything you want regarding this dataset.

In [29]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [30]:

sns.pairplot(md_crash, hue='COUNTY_DESC', palette='rocket')

In [ ]:
sns.violinplot(x='VEH_YEAR', Y='SPEED_LIMIT', data=md_crash, split=True)

In [ ]:
sns.countplot('COUNTY_DESC', data=md_crash)

In [ ]:
plt.figure(figsize=(8,5))
sns.stripplot(x='COUNTY_DESC', y='ACC_DATE', data=md_crash)